# name: build-and-deploy

# on:
#   push:
#     branches: [ "main" ]

# permissions:
#   contents: read
#   packages: write

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Login to GHCR
#         uses: docker/login-action@v3
#         with:
#           registry: ghcr.io
#           username: ${{ github.actor }}
#           password: ${{ secrets.GITHUB_TOKEN }}

#       - name: Build and push
#         uses: docker/build-push-action@v6
#         with:
#           context: .
#           push: true
#           tags: |
#             ghcr.io/${{ github.repository }}:latest
#             ghcr.io/${{ github.repository }}:${{ github.sha }}

#   deploy:
#     needs: build
#     runs-on: ubuntu-latest
#     steps:
#       - name: Tailscale
#         uses: tailscale/github-action@v3
#         with:
#           authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
      
#       - name: Deploy over SSH via Tailscale
#         uses: appleboy/ssh-action@v1.0.3
#         with:
#           host: 100.73.208.30
#           username: ${{ secrets.SSH_USER }}
#           key: ${{ secrets.SSH_KEY }}
#           port: 22
#           script: |
#             cd /home/logan/Homelab/vesania
#             docker pull ghcr.io/${{ github.repository }}:latest
#             docker compose up -d
